<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{label.group.create}"></title>
</head>
<body>
    <h1 th:text="#{label.group.create}"></h1>
    <form th:action="@{/group/create}" th:object="${groupDTO}" th:method="post">
        <div>
            <input th:field="*{id}" th:value="${groupDTO.id}" hidden>
        </div>
        <div>
            <label th:text="#{label.group.name}"></label>
            <input th:field="*{name}">
        </div>
        <div>
            <label th:text="#{label.group.year}"></label>
            <input th:field="*{year}">
        </div>
        <div th:if="${departments.size() != 0}">
            <label th:text="#{label.group.department}"></label>
            <select th:field="*{department}">
                <option th:value="null" th:text="#{label.text.na}"></option>
                <option th:each="department: ${departments}" th:value="${department.id}" th:text="${department.name}">
                </option>
            </select>
        </div>
        <button th:type="submit" th:text="#{label.button.create}"></button>
    </form>
</body>
</html>
