<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{label.main.page}"></title>
</head>
<body>
    <a th:href="@{/faculty}" th:text="#{label.faculties}"></a><br>
    <a th:href="@{/faculty/create}" th:text="#{label.faculty.create}"></a><br>
    <a th:href="@{/specialization}" th:text="#{label.specializations}"></a><br>
    <a th:href="@{/specialization/create}" th:text="#{label.specialization.create}"></a><br>
    <a th:href="@{/department}" th:text="#{label.departments}"></a><br>
    <a th:href="@{/department/create}" th:text="#{label.department.create}"></a><br>
    <a th:href="@{/teacher}" th:text="#{label.teachers}"></a><br>
    <a th:href="@{/teacher/create}" th:text="#{label.teacher.create}"></a><br>
    <a th:href="@{/group}" th:text="#{label.groups}"></a><br>
    <a th:href="@{/group/create}" th:text="#{label.group.create}"></a><br>
    <a th:href="@{/student}" th:text="#{label.students}"></a><br>
    <a th:href="@{/student/create}" th:text="#{label.student.create}"></a><br>
    <a th:href="@{/subject}" th:text="#{label.subjects}"></a><br>
    <a th:href="@{/subject/create}" th:text="#{label.subject.create}"></a><br>
    <a th:href="@{/lecture}" th:text="#{label.lectures}"></a><br>
    <a th:href="@{/lecture/create}" th:text="#{label.lecture.create}"></a>
</body>
</html>
